.clock-status-icon {
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.0);
}

.clock-area{
   height: 20px;
    width: 20px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    -clock-color: #0f0;
    -hours-color: #0ff;
    -mins-color: #f00;
    background-color: rgba(0, 0, 0, 0.0);
}